/* Card.css */



.card-container {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-around;
  }
  
  .card {
    border: 1px solid #ded7d7;
    margin: 10px;
    padding: 15px;
    width: 220px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 2px;
  }
  
  .card h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .card p {
    color: #555;
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  
  .card h3 {
    color: #1e201f;
    
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .btn-card {
    background-color: #503886;
    border-radius: 2%;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-card:hover {
    background-color: #7b29b9;
  }
  
  .btn {
    background-color: #ecf0f1;
    color: #333;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #d0d3d4;
  }